@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", sans-serif;
    background-image: url("../assets/login-background.gif");
    color: white;
}

#login-main {
    width: 40%;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    background-color:rgba(181, 181, 181, 0.279);
    padding: 20px;
    border-radius: 5%;
}

#login-header {
    font-size: 2.6rem;
}

#login-form {
    display: flex;
    flex-direction: column;
}

.login-form-elem {
    margin: 5px 0;

}

.login-form-input {
    font-size: 1.2rem;
    padding: 12px;
    font-family: "Space Mono";
    border-radius: 8px;
    border: 0;
    margin: 0 0 15px 0;
    margin-left: 60px;
    margin-right: 60px;
    outline: none;
}

.login-form-input:focus {
    outline: 2px solid rgb(28, 165, 165);
}

.login-btn {
    font-size: 1.3rem;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    color: white;
    background: #256c81;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background :rgb(28, 165, 165);
}

#login-link-container {
    margin-top: 20px;
}

.login-link {
    color:#97b9c3;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.login-link:hover {
    text-decoration: underline;
}